
\.idea/
NoteMap.xcodeproj/xcuserdata
NoteMap.xcworkspace/xcuserdata
Pods/Pods.xcodeproj/xcuserdata

\.DS_Store
.DS_Store
.DS_Store
Pods/leveldb-library/
Pods/Target Support Files/
Pods/Target Support Files/
